# Banco de dados SQLite
*.sqlite3
*.db

# Arquivos Python gerados
*.pyc
__pycache__/
.python-version

# Ambiente virtual
venv/
env/

# Arquivos de ambiente
.env
.env.local

# IDE/Editores
.idea/
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos estáticos coletados
staticfiles/

# Logs e debug
*.log
logs/

# Arquivos de mídia uploadados
media/